.card-skill {
    width: 160px;
    height: auto;
    background-color: #003C3C;
    padding: 1rem;
    border-radius: 2px;
}

.card-skill .title {
    color: #fff;
    font-family: "Prompt";
    font-weight: bold;
    margin-bottom: 15px;
}
