#contact {
    background-color: #161616;
    margin-left: 0;
    margin-right: 0;
    padding: 50px 0px;
    padding-top: 68px;
}

.title-contact {
    color: #fff;
}

.title-contact span {
    color: #01D181;
}

.grid-btns {
    max-width: 525px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}

.grid-btns button {
    border: 2px solid #01D181;
    color: #01D181;
    font-family: 'Prompt';
    padding: 8px 12px;
    border-radius: 20px;
    margin: auto;
    width: -webkit-fill-available;
}

.grid-btns button:hover, .grid-btns button.selected {
    background-color: #01D181;
    color: #003C3C;
}

@media (min-width: 1024px) {
    .grid-btns button {
        width: fit-content;
    }
}
