/* Navbar */
.navbar {
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 40;
    padding: 100px;
}

.color-bar-menu {
    color: #fff;
}

/* Menu Dropdown */
/* .menu-background {
    background-color: #fff;
} */

.menu-background a {
    color: #fff;
    text-decoration: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}

/* Links */
a:hover {
    text-decoration: underline;
}

/* Button Evelope */
a.a-envelope {
    background-color: #2C2C2C;
    border: 2px solid #2C2C2C;
    color: #fff;
    cursor: pointer;
}

a.a-envelope span {
    margin-right: 5px;
}

a.a-envelope:hover {
    text-decoration: none;
}
